## Table Joins in a Relational Database

### Introduction to Data Science
### Last Updated: October 15, 2022
---  

### OBJECTIVES
- Understand how to join tables in a relational database
- Differentiate between different types of joins

### CONCEPTS
- left join
- inner join

---

### I. Table Joins

Joining tables allows you to use data from multiples tables that is common to records.

Run the cells below and fill in the missing code to accomplish the tasks.

You might want to use the sqlite lecture notes as a reference.

In [1]:
# import the SQLite API
import sqlite3

In [2]:
# create some data
company_hq = [
        ('AMZN','Seattle'),
        ('AAPL','Cupertino'),
        ('GOOG','Mountain View')]

company_ceos = [
        ('AMZN','Andy Jassy'),
        ('AAPL','Tim Cook')]

In [3]:
# set path to the database; modify to match your path; use forward slashes '/' in Python
PATH_TO_DB = "C:/Users/apt4c/Documents/database/sqlite/stocks.db"

In [4]:
# create db connection
conn = sqlite3.connect(PATH_TO_DB)

# create cursor
cur = conn.cursor()

Create a table in the db called `hq` and pass schema (ticker text, location text).  
End the transaction with a commit.

Create a table in the db called `ceo` and pass schema (ticker text, ceo text).  
End the transaction with a commit.

Insert the records into the `hq` table

Insert the records into the `ceo` table

Query each table to make sure all the data has been loaded

**TABLE JOIN**  
Join the two tables together, printing records with columns: ticker, location, ceo

In [22]:
for row in conn.execute('SELECT hq.ticker, hq.location, ceo.ceo_name \
                        FROM ceo INNER JOIN hq \
                        ON hq.ticker = ceo.ticker'):
    print(row)

('AMZN', 'Seattle', 'Andy Jassy')
('AAPL', 'Cupertino', 'Tim Cook')

Things to notice:
- `hq.ticker` means select field `ticker` from table `hq`. this makes the selection clear.
- an `INNER JOIN` only returns records appearing in both tables
- `ON` specifies how records are matched across tables

---

**TRY AND DISCUSS**

Change INNER JOIN to LEFT JOIN, run the query, and notice the result. Explain the difference and why it happens.

---

### Summary

Now that you know how to join tables, you can build larger, more informative data sets.

This will expand what you can do as a data scientist!

---