## Coding Assignment 4: Data Transformations [SOLUTIONS]

### Introduction to Data Science
#### Last Updated: August 21, 2022

---

### Skills Assessed

You will demonstrate these skills in the HW:
- subsetting a pandas dataframe
- working with lists
- scaling data
- binarizing data
- merging data

---

### Instructions

You will show off your data transformation skills in this assignment.

**About the Data**

The dataset is the [2017 Workplace Health in America survey](https://www.cdc.gov/workplacehealthpromotion/survey/data.html) which was conducted by the Centers for Disease Control and Prevention.  
For details, refer to this [guidance document](https://www.cdc.gov/workplacehealthpromotion/data-surveillance/docs/2017-WHA-Guidance-Document-for-Use-of-Public-Data-files-508.pdf).

The data contains over 300 features including:
- industry of employment
- company type
- type of health insurance programs offered
- whether remote work was allowed
- gender
- age

Follow the framed-out code below, filling in the missing pieces.

**TOTAL POINTS: 10**

---

In [1]:
import warnings
warnings.filterwarnings("ignore")

Review the instructions below to figure out which modules are required. Import them all here.

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

## 1. Data Loading and Prep

The data is stored in a csv file here: https://www.cdc.gov/workplacehealthpromotion/survey/data.html

1) **(1 PT)** Load the data directly into Python without manually downloading the data onto your hard drive. Show the first five rows of data.

Note: The columns are separated by '~', so you'll want to pass a parameter to your function to handle this.

In [3]:
url = "https://www.cdc.gov/workplacehealthpromotion/data-surveillance/docs/whpps_120717.csv"
delimiter = '~'

df = pd.read_csv(url, sep = delimiter)
df.head()

,OC1,OC3,HI1,HI2,HI3,HI4,HRA1,HRA1A,HRA1B,HRA1E,...,WL3_05,E1_09,Suppquex,Id,Region,CDC_Region,Industry,Size,Varstrata,"Finalwt_worksite,,,,"
0,7,3.0,2.0,1.0,2.0,1.0,1.0,3.0,4.0,2.0,...,PTO,NaN,2.0,217.0,1.0,2.0,7.0,7.0,0.0,"47.793940929,,,,"
1,2,3.0,2.0,3.0,1.0,1.0,1.0,3.0,3.0,1.0,...,NaN,NaN,1.0,326.0,3.0,7.0,7.0,6.0,0.0,"47.793940929,,,,"
2,7,3.0,1.0,3.0,1.0,1.0,1.0,3.0,97.0,2.0,...,NaN,NaN,1.0,399.0,4.0,8.0,7.0,8.0,0.0,"47.793940929,,,,"
3,1,2.0,1.0,2.0,1.0,1.0,97.0,96.0,96.0,96.0,...,NaN,NaN,1.0,475.0,5.0,9.0,7.0,4.0,0.0,"47.793940929,,,,"
4,2,3.0,1.0,3.0,1.0,1.0,1.0,3.0,3.0,2.0,...,NaN,NaN,1.0,489.0,2.0,4.0,7.0,4.0,0.0,"47.793940929,,,,"

It's always a good idea to check the data types of the columns. Let's do this:

In [4]:
df.dtypes

OC1                      object
OC3                     float64
HI1                     float64
HI2                     float64
HI3                     float64
                         ...
CDC_Region              float64
Industry                float64
Size                    float64
Varstrata               float64
Finalwt_worksite,,,,     object
Length: 301, dtype: object

Hmm. `OC1` seems like an integer, but it's considered an object. Something strange is going on.  
It turns out there is a bad row of data! It's the row with index 1662. Let's look at the data:

In [5]:
df.iloc[1662,:]

OC1                     1~4~2~1~2~1~2~96~96~96~1~1~1~1~1~1~5~3~1~5~96~...
OC3                                                                   NaN
HI1                                                                   NaN
HI2                                                                   NaN
HI3                                                                   NaN
                                              ...
CDC_Region                                                            NaN
Industry                                                              NaN
Size                                                                  NaN
Varstrata                                                             NaN
Finalwt_worksite,,,,                                                  NaN
Name: 1662, Length: 301, dtype: object

Let's remove this row

In [6]:
df.drop(1662, inplace=True)

2) **(2 PTS)** The data contains 301 columns and you don't need most of them. Create a new dataframe called `work` containing only the columns listed below. Show the first five rows in `work`.

* `Industry`: 7 Industry Categories with NAICS codes

* `Size`: 8 Employee Size Categories

* `OC3` Is your organization for profit, non-profit, government?

* `HI1` In general, do you offer full, partial or no payment of premiums for personal health insurance for full-time employees?

* `HI2` Over the past 12 months, were full-time employees asked to pay a larger proportion, smaller proportion or the same proportion of personal health insurance premiums?

* `HI3`: Does your organization offer personal health insurance for your part-time employees?

* `CP1`: Are there health education programs, which focus on skill development and lifestyle behavior change along with information dissemination and awareness building?

* `WL6`: Allow employees to work from home?

* Every column that begins `WD`, expressing the percentage of employees that have certain characteristics at the firm.  
  **Hint: see if you can find a function that helps with this.**

In [7]:
mycols = ['Industry','Size','OC3','HI1','HI2','HI3','CP1','WL6'] + [col for col in df.columns if col.startswith('WD')]
work = df[mycols]
work.head()

,Industry,Size,OC3,HI1,HI2,HI3,CP1,WL6,WD1_1,WD1_2,WD2,WD3,WD4,WD5,WD6,WD7
0,7.0,7.0,3.0,2.0,1.0,2.0,1.0,1.0,25.0,20.0,85.0,60.0,40.0,15.0,0.0,22.0
1,7.0,6.0,3.0,2.0,3.0,1.0,1.0,1.0,997.0,997.0,90.0,90.0,997.0,997.0,0.0,997.0
2,7.0,8.0,3.0,1.0,3.0,1.0,1.0,1.0,35.0,4.0,997.0,997.0,40.0,15.0,997.0,997.0
3,7.0,4.0,2.0,1.0,2.0,1.0,2.0,2.0,50.0,15.0,50.0,85.0,75.0,0.0,0.0,997.0
4,7.0,4.0,3.0,1.0,3.0,1.0,1.0,1.0,50.0,40.0,60.0,60.0,40.0,30.0,0.0,28.0

3) **(1 PT)** Next, let's understand if the variables are on different scales. Compute their minimum, maximum, standard deviation and mean.  
It is fine to print additional statistics as well.

In [8]:
work.describe()

,Industry,Size,OC3,HI1,HI2,HI3,CP1,WL6,WD1_1,WD1_2,WD2,WD3,WD4,WD5,WD6,WD7
count,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000
mean,3.804715,2.517241,10.147783,4.364532,21.969740,7.087966,7.438424,11.604152,357.593596,338.501407,315.016538,369.975721,318.500000,285.117171,249.799789,459.985222
std,1.959338,1.924083,25.759221,15.712978,38.190732,21.995120,22.888307,29.471645,460.426003,463.950873,426.375000,440.389811,446.790166,440.495305,424.601940,488.613253
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,15.000000,5.000000,33.000000,60.000000,0.000000,0.000000,0.000000,9.250000
50%,4.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,40.000000,16.500000,75.000000,90.000000,40.000000,5.000000,0.000000,50.000000
75%,5.000000,3.000000,3.000000,2.000000,3.000000,2.000000,2.000000,2.000000,997.000000,997.000000,997.000000,997.000000,997.000000,997.000000,99.000000,997.000000
max,7.000000,8.000000,99.000000,99.000000,99.000000,99.000000,98.000000,99.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000

4) **(1 PT)** Briefly explain a benefit of scaling data.

One important reason for scaling the data is to put variables of different orders of magnitude on the same scale.  
This is beneficial for models like linear regression.

5) **(1 PT)** It appears that the ranges of some of the variables are very different. Let's standardize the data.  
Save the scaled data in `work_scaled` and print it.

In [10]:
scaler = StandardScaler()
work_scaled = scaler.fit_transform(work)
work_scaled

array([[ 1.63108507,  2.33022537, -0.27753328, ..., -0.61332028,
        -0.58841876, -0.89654199],
       [ 1.63108507,  1.81040587, -0.27753328, ...,  1.61638069,
        -0.58841876,  1.09925238],
       [ 1.63108507,  2.85004488, -0.27753328, ..., -0.61332028,
         1.76007604,  1.09925238],
       ...,
       [ 1.12061884,  2.85004488, -0.2387054 , ...,  1.61638069,
         1.76007604,  1.09925238],
       [ 1.12061884,  2.85004488, -0.2387054 , ...,  1.62092183,
         1.76478717,  1.10334632],
       [ 1.12061884,  2.85004488, -0.2387054 , ..., -0.51114458,
        -0.39997384,  1.09925238]])

Notice that `work` is a dataframe, but `work_scaled` is an array. This might be surprising!  
Recall that dataframes store data as numpy arrays as well.  
**Changing data types can be a source of confusion and bugs. It's good practice to check the data type and dimension of objects.**

In [11]:
type(work_scaled)

numpy.ndarray

This confirms `work_scaled` is a numpy array

6) **(1 PT)** Let's make sure the shape of `work_scaled` matches the shape of `work`. Print the dimensions (rows, columns) of each object.

In [12]:
print(work.shape)
print(work_scaled.shape)

(2842, 16)
(2842, 16)

7. **(1 PT)** Let's make sure the scaled variables have standard deviation close to one. Print their standard deviations.  
Hint: since `work_scaled` is a numpy array, you'll want to import a package to do the computation.  
Also, there are 16 variables, so you should see 16 standard deviations in an array.

In [13]:
np.std(work_scaled, axis=0)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

8. **(1 PT)** Next, you would like to binarize the variable `CP1` in dataframe *work*.  
Specifically, create a new variable in the *work* dataframe named `CP1_bin`, where:  

```
CP1_bin = 1 if CP1 >= 2
CP1_bin = 0 if CP1 < 2
```

Print the first five rows of the dataframe to show the new column.

In [14]:
work['CP1_bin'] = work.CP1.apply(lambda x: 1 if x >= 2 else 0)
work.head(5)

,Industry,Size,OC3,HI1,HI2,HI3,CP1,WL6,WD1_1,WD1_2,WD2,WD3,WD4,WD5,WD6,WD7,CP1_bin
0,7.0,7.0,3.0,2.0,1.0,2.0,1.0,1.0,25.0,20.0,85.0,60.0,40.0,15.0,0.0,22.0,0
1,7.0,6.0,3.0,2.0,3.0,1.0,1.0,1.0,997.0,997.0,90.0,90.0,997.0,997.0,0.0,997.0,0
2,7.0,8.0,3.0,1.0,3.0,1.0,1.0,1.0,35.0,4.0,997.0,997.0,40.0,15.0,997.0,997.0,0
3,7.0,4.0,2.0,1.0,2.0,1.0,2.0,2.0,50.0,15.0,50.0,85.0,75.0,0.0,0.0,997.0,1
4,7.0,4.0,3.0,1.0,3.0,1.0,1.0,1.0,50.0,40.0,60.0,60.0,40.0,30.0,0.0,28.0,0

Next, `CP1_bin` is converted to an array (specifically, a column vector):

In [15]:
cpi_bin = work.CP1_bin.values.reshape(-1,1)
cpi_bin

array([[0],
       [0],
       [0],
       ...,
       [0],
       [1],
       [0]], dtype=int64)

9. **(1 PT)** As a final step, you'd like to merge the two numpy arrays `work_scaled` and `cpi_bin` into a new array called `final`.  
This will make it easier to do machine learning on the data later. Merge these arrays together and print out the result.  
Hint: consider the function `hstack()`

In [16]:
final = np.hstack((work_scaled, cpi_bin))
print(final)

[[ 1.63108507  2.33022537 -0.27753328 ... -0.58841876 -0.89654199
   0.        ]
 [ 1.63108507  1.81040587 -0.27753328 ... -0.58841876  1.09925238
   0.        ]
 [ 1.63108507  2.85004488 -0.27753328 ...  1.76007604  1.09925238
   0.        ]
 ...
 [ 1.12061884  2.85004488 -0.2387054  ...  1.76007604  1.09925238
   0.        ]
 [ 1.12061884  2.85004488 -0.2387054  ...  1.76478717  1.10334632
   1.        ]
 [ 1.12061884  2.85004488 -0.2387054  ... -0.39997384  1.09925238
   0.        ]]

---

Print the shapes of: `work_scaled`, `cpi_bin`, `final`

`work_scaled` should have 16 columns  
`cpi_bin` should have 1 column  
`final` should have 16 + 1 columns.

In [18]:
print(work_scaled.shape)
print(cpi_bin.shape)
print(final.shape)

(2842, 16)
(2842, 1)
(2842, 17)

If you completed this notebook, you have made substantial progress in the course. Congrats!  
You demonstrated that you can load, prepare, scale, binarize and merge data.  
This gets you very close to training a model on data.

---